<form method="post" enctype="multipart/form-data">
 requestUser:<input name="userRequest.requestUser" /> <br />
 goalUser:<input name="userRequest.goalUser" /> <br/>
 reqType:<input name="userRequest.reqType" /> <br />
 status:<input name="userRequest.status" /> <br />
 <input type="submit"/>
</form>