<form method="post" enctype="multipart/form-data">
 host:<input name="appointment.host" /> <br />
 dater:<input name="appointment.dater" /> <br/>
 date(1990-01-01):<input name="appointment.date" /> <br />
 time(00:00:00):<input name="appointment.time" /> <br />
 latitude:<input name="appointment.latitude" /> <br />
 longitude:<input name="appointment.longitude" /> <br />
 status:<input name="appointment.status" /> <br />
 <input type="submit"/>
</form>