<form method="post" enctype="multipart/form-data">
 username:<input name="user.username" /> <br />
 password:<input name="user.password" /> <br/>
 role:<input name="user.role" /> <br />
 status:<input name="user.status" /> <br />
 <input type="submit"/>
</form>