{{#appointment}}
<form method="post" enctype="multipart/form-data">
 host:<input name="appointment.host" type="text" value="{{host}}"/> <br />
 dater:<input name="appointment.dater" type="text" value="{{dater}}"/> <br/>
 date(1990-01-01):<input name="appointment.date" type="text" value="{{date}}"/> <br />
 time(00:00:00):<input name="appointment.time" type="text" value="{{time}}"/> <br />
 latitude:<input name="appointment.latitude" type="text" value="{{latitude}}"/> <br />
 longitude:<input name="appointment.longitude" type="text" value="{{longitude}}"/> <br />
 status:<input name="appointment.status" type="text" value="{{status}}"/> <br />
 <input type="submit"/>
</form>
{{/appointment}}