<form method="post" enctype="multipart/form-data">
 bindUser:<input name="geoInformation.bindUser" /> <br />
 geoType:<input name="geoInformation.geoType" /> <br/>
 date(1990-01-01):<input name="geoInformation.date" /> <br />
 time(00:00:00):<input name="geoInformation.time" /> <br />
 latitude:<input name="geoInformation.latitude" /> <br />
 longitude:<input name="geoInformation.longitude" /> <br />
 area:<input name="geoInformation.area" /><br />
 <input type="submit"/>
</form>