{{#userRequest}}
<form method="post" enctype="multipart/form-data">
 requestUser:<input name="userRequest.requestUser" type="text" value="{{requestUser}}"/> <br />
 goalUser:<input name="userRequest.goalUser" type="text" value="{{goalUser}}"/> <br/>
 reqType:<input name="userRequest.reqType" type="text" value="{{reqType}}"/> <br />
 status:<input name="userRequest.status" type="text" value="{{status}}"/> <br />
 <input type="submit"/>
</form>
{{/userRequest}}