{{#geoInformation}}
<form method="post" enctype="multipart/form-data">
 bindUser:<input name="geoInformation.bindUser" type="text" value="{{bindUser}}"/> <br />
 geoType:<input name="geoInformation.geoType" type="text" value="{{geoType}}"/> <br/>
 date(1990-01-01):<input name="geoInformation.date" type="text" value="{{date}}"/> <br />
 time(00:00:00):<input name="geoInformation.time" type="text" value="{{time}}"/> <br />
 latitude:<input name="geoInformation.latitude" type="text" value="{{latitude}}"/> <br />
 longitude:<input name="geoInformation.longitude" type="text" value="{{longitude}}"/> <br />
 <input type="submit"/>
</form>
{{/geoInformation}}