<form method="post" enctype="multipart/form-data">
 host:<input name="socialNetwork.host" /> <br />
 friend:<input name="socialNetwork.friend" /> <br/>
 socialType:<input name="socialNetwork.socialType" /> <br />
 status:<input name="socialNetwork.status" /> <br />
 <input type="submit"/>
</form>