{{#user}}
<form method="post" enctype="multipart/form-data">
 username:<input name="user.username" type="text" value="{{username}}"/> <br />
 password:<input name="user.password" type="text" value="{{password}}"/> <br/>
 role:<input name="user.role" type="text" value="{{role}}"/> <br />
 status:<input name="user.status" type="text" value="{{status}}"/> <br />
 <input type="submit"/>
</form>
{{/user}}