{{#socialNetwork}}
<form method="post" enctype="multipart/form-data">
 host:<input name="socialNetwork.host" type="text" value="{{host}}"/> <br />
 friend:<input name="socialNetwork.friend" type="text" value="{{friend}}"/> <br/>
 socialType:<input name="socialNetwork.socialType" type="text" value="{{socialType}}"/> <br />
 status:<input name="socialNetwork.status" type="text" value="{{status}}"/> <br />
 <input type="submit"/>
</form>
{{/socialNetwork}}