<a href="/admin">Main Menu</a>
<a href="/admin/social/new">New Social</a>
{{#socialNetworks}}
	<div>
		host:{{host}}<br />
		friend:{{friend}}<br />
		socialType:{{socialType}}<br />
		status:{{status}}<br />
		<a href="/admin/social/{{id}}/factory">Edit</a>
		<a href="/admin/social/{{id}}/trash">Delete</a><br />
	</div>
{{/socialNetworks}}